SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
SPOTIFY_REDIRECT_URI=https://spotify-decades.mydomain.com/callback
FLASK_SECRET_KEY=change-me-to-a-long-random-string
PLAYLIST_PREFIX=My
PLAYLIST_PUBLIC=false
APP_NAME=Spotify Decades
